localhost:80 {
    # Microservice's APIs
    reverse_proxy /api/users-service* users-service:80
    reverse_proxy /api/orders-service* orders-service:80
    reverse_proxy /api/shipping-service* shipping-service:80

    # Static files
    file_server * {
        root /srv
    }
}